body{
      font-family: 'Roboto Condensed', sans-serif;
      margin: 0;
}
h1{font-size: 50px;}
h2{font-size: 40px;}
h3{font-size: 30px;}
h4{font-size: 26px;}

.header-section{
      background-image: url(image/Kurigram+File+Photo.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      height: 700px;
}
.top-banner{font-size: 2rem;
           text-align: center;
           color: rgb(24, 26, 24);
      
}
#h1-fonts{font-size: 4.5rem;}
.link-button{
      text-decoration: none;
      font-size: 20px;
      padding: 10px 40px;
      border-radius: 6px;
      color: white;
      background-color: #114899;
}