body{
      font-family: 'Roboto Condensed', sans-serif;
      margin: 0;
}
h1{font-size: 50px;}
h2{font-size: 40px;}
h3{font-size: 30px;}
h4{font-size: 26px;}
h5{font-size: 15px;}

.header-section{
      background-image: url(image/Kurigram+File+Photo.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      height: 700px;
      margin-bottom: 100px;
}
.top-banner{font-size: 2rem;
      color: rgb(27, 26, 26);
           text-align: center;}
#h1-fonts{font-size: 4.5rem;}
.link-button{
      text-decoration: none;
      font-size: 20px;
      padding: 10px 40px;
      border-radius: 6px;
      color: white;
      background-color: #114899;
}

.Donate-Today{
      text-align: center;
      margin-bottom: 90px;
      margin-top: 60px;
      color: ;
      font-size: 20px;
}
.money-part{
      display: flex;
      text-align: justify;
      text-transform: uppercase;
      width: 60%;
      margin-left: 20%;
      justify-content:space-evenly;
}
#highlight-color{
      color: red;
      border: 1px solid red;
      background-color: #FFEEEE;
      padding: 2px;
}
.input-taka{
      
      margin-left: 25%;
      margin-right: 25%;
      margin-top: 30px;
      text-align: center;
}
.input-taka input{
      width: 90%;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 2px;
}
.link-button-2{
      margin-top: 30px;
}

.donate-plan{
      text-align:center;
      width: 100%;
      margin-bottom: 100px;
}
.plan-for-donate{
      display: flex;
      width: 80%;
      margin-left: 10%;
}
.plan-box{
      display:flex;
      margin-left: 15px;
      margin-right: 2px;
      width: 100%;
}
.plan-1{
      text-align: justify;
      width: 100%;
      text-transform: capitalize;
      padding: 30px;
      margin-top: 5px;
}
.plan-box img{
      width: 80px;
      margin: 0;
}
#color-change-1{
      background-color: #EDF5F6;
}
#color-change-2{
      background-color: #FFEEEE;
}
#color-change-3{
      background-color: #FFF4D6;
}
